#wrapper {
	width:100%;
	padding-left:20px;
	padding-right:20px;
	background-color:#333;
	height:100vh;
}
#wrapper .wrap {
	width:90%;
	margin:0 auto;	
}

#wrapper .wrap button {
	margin-right:10px;
}

#toScrapeButton {
	height:40px;
	background-color:#ff580f;
	margin-left:5px;
	padding:5px;
}

#wrapper-table {
	width:90%;
	margin:0 auto;
	position:relative;
	background-color:#ccc;
}

#productPrice {
	width:40px;
}

#productMinQuantity {
	width:50px;
}

#trHeading {
	padding-left:10px;
	padding-right:10px;
}

table, th, tr {
	border:1px solid black;
}

th {
	padding:10px;
}

.wrap {
	display:block;
	height:auto;
	width:auto;
	justify-content:center;
	padding:5px;
}
.productModifier {
	padding:5px;
	background-color:#429bf5;
	color:white;
}
